extend layout
block content
  form(name="complaintForm", method="post", action="/complaintRegistration")
    p Name:
      br
      input(type="text", name="name")
    p Aadhaar Id:
      br
      input(type="text", name="aadhaar")
    p Age:
      br
      input(type="text", name="age")
    p Phone No:
      br
      input(type="text", name="phone")
    p E - mail
      br
      input(type="text", name="email")
    p Payment Category
      br
      input(type="radio", name="category", value="ewallet")
      label eWallet
      br
      input(type="radio", name="category", value="online")
      label Online Payment
      br
      input(type="radio", name="category", value="upi")
      label UPI
      br
      input(type="radio", name="category", value="pos")
      label Point of Sale Terminal
      br
    input(type="submit")
