doctype
1html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Dont Worry
    .container
      .main-content
        block content
     