extend layout
block content
  form(name="onlinePayComplaint" method="post" action="/onlinePayComplaintRegistrationForm")
    p Transaction ID
      br
      input(type="text" name="transactionID")
    p Date
      br
      input#datepicker(type="text" name="date")
    p Time
      br
      input#timepicker(type="text" name="time")
      input#timestamp(name="timestamp" type="hidden")
    p Type of Payment
      br
      select(name="Payment Mode")
        option(value="debit") Debit Card
        option(value="credit") Credit Card
        option(value="netBanking") Net Banking
    p Issue Bank
      br
      select(name="source")
        option(value="ICIC") ICICI
        option(value="SBIN") SBI
        option(value="AXIS") AXIS BANK
        option(value="YESB") YES BANK
        option(value="HDFC") HDFC BANK
    p Merchant
      br
      select(name="destination")
        option(value="AMZN") amazon.in
        option(value="FLIP") flipkart.com
        option(value="IRCT") irctc.co.in
    p Payment Gateway
      br
      select(name="gateway")
        option(value="payu") Payu Biz / Payu Money
        option(value="razo") Razorpay
        option(value="citr") Citrus Pay
        option(value="ebil") e-Bill Desk
    p Error Code
      br
      input(type="number" name="errorCode")
    p Error Description
      br
      input(type="text" name="errorText")
    input(type="submit")