extend layout
block content
  h6 Point of Sale Details
  form(name="posdetails", method="post", action="/posPayComplaintDetails")
    p TransactionID
      input(name="transactionID", type="text")
    p Card Provider
      select(name="CardProvider")
        option(value="ICIC") ICICI
        option(value="AXIS") AXIS BANK
        option(value="HDFC") HDFC BANK
    p ErrorID
      input(name="ErrorId", type="text")
    p Bank
      br
      select(name="source")
        option(value="ICIC") ICICI
        option(value="SBIN") SBI
        option(value="AXIS") AXIS BANK
        option(value="YESB") YES BANK
        option(value="HDFC") HDFC BANK
    p Merchant
      br
      select(name="destination")
        option(value="amaz") amazon.in
        option(value="flip") flipkart.com
        option(value="swig") swiggy.com
        option(value="food") foodpanda.com
        option(value="irct") irctc.co.in
    input(type="submit")