extend layout
block content
  form(name="upiComplaint" method="post" action="/upiPayComplaintRegistrationForm")
    p Transaction ID
      br
      input(type="text" name="transactionID")
    p Error Code
      br
      input(type="number" name="errorCode")
    p Error Description
      br
      input(type="text" name="errorText")
    p Payer Domain
      br
      select(name="source")
        option(value="ICIC") @icici
        option(value="ICIC") @okicici
        option(value="SBIN") @sbi
        option(value="AXIS") @axisbank
        option(value="YESB") @ybl
        option(value="BHIM") @upi
        option(value="HDFC") @hdfc
    p Payee Domain
      br
      select(name="destination")
        option(value="ICIC") @icici
        option(value="ICIC") @okicici
        option(value="SBIN") @sbi
        option(value="AXIS") @axisbank
        option(value="YESB") @ybl
        option(value="BHIM") @upi
        option(value="HDFC") @hdfc
    input(type="submit")